.login_page_parent_div {
  height: 350px;
  width: 700px;
  margin-top: 100px;
}

.div_left_side_of_parent {
  width: 400px;
}

.about_left_div {
  margin-top: 30px;
  margin-left: 40px;
}

.title_left_div {
  margin-left: 40px;
  margin-top: 5px;
}

.user_login_form {
  width: 300px;
}

.email_field {
  width: 300px;
  margin-left: 40px;
  margin-top: 5px;
}

.password_field {
  width: 300px;
  margin-left: 40px;
  margin-top: 10px;
}

.submit_field {
  width: 320px;
  margin-left: 40px;
  margin-top: 20px;
}

.div_left {
  width: 300px;
}

.heading_div_left {
  margin-top: 40px;
  text-align: center;
}

.about_div_left {
  height: 100px;
  width: 200px;
  margin-top: 30px;
}

.error_field {
  width: 400px;
  margin-top: 20px;
}
