.user_forgot_pass_container {
  height: 450px;
  width: 700px;
  margin-top: 100px;
}

.div_left {
  width: 400px;
}

.heading_left_div {
  margin-top: 30px;
  margin-left: 40px;
}

.title_left_div {
  margin-left: 40px;
  margin-top: 5px;
}

.user_forgot_password_form {
  width: 300px;
}

.email_field {
  width: 320px;
  margin-left: 40px;
  margin-top: 5px;
}

.password_old_new_field {
  width: 320px;
  margin-left: 40px;
  margin-top: 20px;
}

.submit_button {
  margin-top: 10px;
}

.div_right {
  width: 300px;
}

.heading_div_right {
  margin-top: 40px;
  text-align: center;
}

.title_div_right {
  height: 100px;
  width: 200px;
  margin-top: 30px;
}
